* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}

h1, h2 {
    color: salmon;
}

.desc {
    color: gold;
}

ul, a {
    color: greenyellow;
}

ol {
    color: purple;
}